body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 30%;
    margin: 50px auto;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.logo {
    width: 150px;
    margin: 10px;
}

h2 {
    text-align: center;
    color: #000000;
}

.highlight {
    background-color: #b71c1c;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    display: block;
    text-align: left;
    margin-top: 10px;
}

input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Remove arrows/spinners from number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

.btn {
    width: 104%;
    padding: 10px;
    background: #b71c1c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background: #e40707;
}

.note {
    font-size: 12px;
    color: #b71c1c;
    margin-top: 10px;
}

.note a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 1024px) {
    .container {
        width: 50%;
        padding: 30px;
    }
}

@media (max-width: 768px) {
    body {
        align-items: flex-start;
        padding-top: 20px;
    }
    
    .container {
        width: 70%;
        padding: 25px;
    }
}

@media (max-width: 480px) {
    body {
        align-items: flex-start;
        padding-top: 10px;
    }

    .container {
        width: 90%;
        padding: 15px;
    }

    .highlight {
        font-size: 12px;
        padding: 8px;
    }

    input[type="number"],
    input[type="date"],
    .btn {
        padding: 4px;
        font-size: 14px;
    }

    h2 {
        font-size: 18px;
    }
}